* {
    box-sizing: border-box;
    margin-top: 0;
    padding: 0;
}
body {
    background-color: #aa9ea5; /* фон */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#game-board { /* стили игрового поля */
    --cell-size: 20vmin;
    --cell-gap: 2vmin;

    position: relative; 
    display: grid;
    grid-template-columns: repeat(4, var(--cell-size)); /* 4 колонки в ширину 20 */
    grid-template-rows: repeat(4, var(--cell-size)); /* 4 ряда в ширину 20 */
    gap: var(--cell-gap); /* отступы между ячейками */
    border-radius: 1vmin;
}
.cell {
    background-color: #927085; /* цвет ячеек */
    border-radius: 1vmin;
}
.tile {
    --y: 0;
    --x: 0;
    position: absolute;
    top: calc(var(--y) * (var(--cell-size) + var(--cell-gap))); /* вычисляем позицию ячейки */
    left: calc(var(--x) *  (var(--cell-size) + var(--cell-gap)));
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vmin;
    height: 20vmin;
    border-radius: 1vmin;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7.5vmin;
    font-weight: bold;
    background-color: hsl(5, 60%, var(--bg-lightness));
    color: hsl(10, 25% var(--text-lightness) );
    transition: 100ms;
    animation: show 200ms;
}
@keyframes show {
    0% {
        opacity: 0.5;
        transform: scale(0);
    }
}
